node-red/flows.json
[{"id":"d4db195a.c5f428","type":"tab","label":"PostgreSQL","disabled":false,"info":""},{"id":"906de41c.53f1c8","type":"inject","z":"d4db195a.c5f428","name":"data trigger","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":130,"y":80,"wires":[["40704fa1.74ed6"]]},{"id":"7298d757.f0ee98","type":"function","z":"d4db195a.c5f428","name":"prepare query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into mytable (timestamp, username, experiment, value) values ($1, $2, $3, $4)',\n        params: [msg.payload[\"timestamp\"], msg.payload[\"username\"], msg.payload[\"experiment\"], msg.payload[\"value\"]],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[[]]},{"id":"40704fa1.74ed6","type":"function","z":"d4db195a.c5f428","name":"create data point","func":"msg.payload = {\n    \"timestamp\": Math.floor(Date.now()/1000),\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["7298d757.f0ee98"]]},{"id":"b2e5ccdd.b96c2","type":"debug","z":"d4db195a.c5f428","name":"http result","active":false,"console":"false","complete":"payload","x":2117,"y":41,"wires":[]},{"id":"d04e17ff.5f3fa8","type":"postgres","z":"d4db195a.c5f428","postgresdb":"49449c41.b10f64","name":"mydatabase","output":true,"outputs":1,"x":730,"y":80,"wires":[["f6eef8e5.1d15c8"]]},{"id":"f6eef8e5.1d15c8","type":"debug","z":"d4db195a.c5f428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":80,"wires":[]},{"id":"49449c41.b10f64","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false}]